<!--Hereda de showRun.html-->
{% extends 'showRun.html' %}
{% block title %}
    Port Security
{% endblock %}

{% block configTitle %}
    Port Security
{% endblock %}

{% block inputs %}
<div class="input-group mb-2">
    <span class="input-group-text">{{ form.interface.label() }}</span>
    {{ form.interface(class="form-control", placeholder="Example: g0/0, vlan 10") }}
</div>
<div class="input-group mb-2">
    <span class="input-group-text">{{ form.max_mac_address.label() }}</span>
    {{ form.max_mac_address(class="form-control", placeholder="Example: 1") }}
</div>
<div class="input-group mb-2">
    <span class="input-group-text">{{ form.violation_measure.label() }}</span>
    {{ form.violation_measure(class="form-control", placeholder="Example: shutdown") }}
</div>
{% endblock %}